<div class="row" ng-init="ctrl.init();">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">

            <div class="row x_title">
                <div class="col-md-6">
                    <h3>Network Activities </h3>
                </div>

            </div>

            <div class="col-md-9 col-sm-9 col-xs-12">

                <div id="chart_plot_01" style="color: #73879C;" class="demo-placeholder"></div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                <div class="x_title">
                    <h2>Top Campaign Performance</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-6">
                    <div ng-repeat="(key, campaign) in analytics.top_campaigns track by $index">
                        <p>{{key}}</p>
                        <div class="">
                            <div class="progress progress_sm">
                                <div class="progress-bar" style="background: {{colors[$index]}};width: {{(campaign/analytics.top_campaigns_total) * 100
}}%;" role="progressbar"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="clearfix"></div>
        </div>
    </div>

</div>

<div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total views</span>
        <div class="count">{{analytics.top_campaigns_total}}</div>
    </div>

</div>


<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Visitors location
                    <small>geo-presentation</small>
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">
                    <div class="col-md-4 hidden-small">

                        <table class="countries_list">
                            <tbody>
                            <tr ng-repeat="country in analytics.top_countries">
                                <td>{{country.name}}</td>
                                <td class="fs15 fw700 text-right">
                                    {{(country.count/analytics.top_campaigns_total) * 100}}%
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="world-map-gdp" class="col-md-8 col-sm-12 col-xs-12" style="height:230px;"></div>
                </div>
            </div>
        </div>
    </div>

</div>