<div class="row" ng-init="ctrl.init();" id="promote-view">


    <div class="panel_header">
        <span class="title">{{ctrl.isEditing ? (ctrl.currentMonetize.id == null ? 'New monetize' : 'Editing Monetization #'+ctrl.currentMonetize.id) : 'Monetize with your apps'}}</span>
        <button ng-click="ctrl.newMonetize();" class="btn btn-campaign"><i class="fa fa-plus"></i> <span>Monetize new app</span>
        </button>
        <button ng-show="ctrl.isEditing && ctrl.currentMonetize.id != null"
                ng-click="ctrl.removeMonetize(ctrl.currentMonetize, true);" class="btn btn-close"><i
                class="fa fa-close"></i> <span>Remove</span></button>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 form-panel fadeanim" ng-show="ctrl.isEditing">
        <div class="x_panel">
            <div class="x_content">
                <br>
                <form class="form-horizontal form-label-left">

                    <div class="row">
                        <div class=" col-md-12 col-sm-12 col-xs-12 col-lg-12 promote-frm">
                            <div class="form-group">
                                <label class="control-label col-md-1">Status</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div id="gender" class="btn-group" data-toggle="buttons">

                                        <input type="radio" name="switch" ng-model="ctrl.currentMonetize.status"
                                               value="1" required> &nbsp; On &nbsp;


                                        <input type="radio" id="switchOff" name="switch"
                                               ng-model="ctrl.currentMonetize.status" value="0" required> &nbsp; Off
                                        &nbsp;

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1">App ID <span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" ng-model="ctrl.currentMonetize.appid"
                                           placeholder="19021932193 or com.app.myapp" class="form-control" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1">Platform<span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <select class="form-control" ng-model="ctrl.currentMonetize.platform">
                                        <option value="1">Android</option>
                                        <option value="2">IOS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1">Category<span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <select class="form-control" ng-model="ctrl.currentMonetize.category">
                                        <option value="1">Apps</option>
                                        <option value="2">Games</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <div class="pull-right">
                            <button type="submit" ng-click="ctrl.cancelEditMonetize();" class="btn ">Cancel</button>
                            <button type="submit" class="btn btn-success"
                                    ng-click="ctrl.savecurrentMonetize(ctrl.currentMonetize);">Save
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>


    <table class="table table-striped vcentered">
        <thead>
        <tr>
            <th class="visible-sm visible-sm visible-lg">Status</th>
            <th>App Id</th>
            <th>Ad unit ID</th>
            <th class="visible-sm visible-md visible-lg">Platform</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="monetize in ctrl.monetizes" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
            <td class="visible-sm visible-sm visible-lg">
                <button ng-click="ctrl.changeStatus(monetize);" class="btn status btn-xs"
                        ng-class="{ 'btn-success': monetize.status == '1', 'btn-danger': monetize.status == '0' }">
                    {{monetize.status == "1" ? 'Actived' : 'Deactived' }}
                </button>
            </td>
            <td><img ng-src="{{ctrl.getCurrentIcon(monetize)}}" alt=""/>
                <span ng-click="ctrl.editMonetize(monetize);"
                      class="link">{{monetize.appid}}</span>
            </td>
            <td>{{monetize.trackid}}</td>
            <td class="visible-sm visible-md visible-lg">{{monetize.platform == "1" ? 'Android' : 'IOS'}}</td>
        </tr>
        </tbody>
    </table>

</div>